<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.ui.RuntimeWorkbench">
    <setAttribute key="additional_plugins"/>
    <booleanAttribute key="append.args" value="true"/>
    <booleanAttribute key="askclear" value="true"/>
    <booleanAttribute key="automaticAdd" value="true"/>
    <booleanAttribute key="automaticValidate" value="false"/>
    <stringAttribute key="bootstrap" value=""/>
    <stringAttribute key="checked" value="[NONE]"/>
    <booleanAttribute key="clearConfig" value="false"/>
    <booleanAttribute key="clearws" value="false"/>
    <booleanAttribute key="clearwslog" value="false"/>
    <stringAttribute key="configLocation" value="${workspace_loc}/.metadata/.plugins/org.eclipse.pde.core/Copilot"/>
    <booleanAttribute key="default" value="false"/>
    <setAttribute key="deselected_workspace_bundles"/>
    <stringAttribute key="featureDefaultLocation" value="workspace"/>
    <stringAttribute key="featurePluginResolution" value="workspace"/>
    <booleanAttribute key="includeOptional" value="true"/>
    <stringAttribute key="location" value="${workspace_loc}/../runtime-Copilot"/>
    <booleanAttribute key="org.eclipse.debug.core.ATTR_FORCE_SYSTEM_CONSOLE_ENCODING" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_SHOW_CODEDETAILS_IN_EXCEPTION_MESSAGES" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JDK-17"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-os ${target.os} -ws ${target.ws} -arch ${target.arch} -nl ${target.nl} -consoleLog&#10;-nosplash"/>
    <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dorg.eclipse.swt.graphics.Resource.reportNonDisposed=true"/>
    <booleanAttribute key="pde.generated.config" value="false"/>
    <stringAttribute key="pde.version" value="3.3"/>
    <stringAttribute key="product" value="org.eclipse.platform.ide"/>
    <setAttribute key="selected_features">
        <setEntry value="org.vgcpge.eclipse.features.copilot:default"/>
    </setAttribute>
    <setAttribute key="selected_target_bundles">
        <setEntry value="bcpg"/>
        <setEntry value="bcprov"/>
        <setEntry value="com.google.gson"/>
        <setEntry value="com.google.guava*30.1.0.v20221112-0806"/>
        <setEntry value="com.google.guava*31.1.0.jre"/>
        <setEntry value="com.google.guava.failureaccess"/>
        <setEntry value="com.ibm.icu"/>
        <setEntry value="com.jcraft.jsch"/>
        <setEntry value="com.sun.el.javax.el"/>
        <setEntry value="com.sun.jna"/>
        <setEntry value="com.sun.jna.platform"/>
        <setEntry value="jakarta.servlet-api"/>
        <setEntry value="javax.annotation"/>
        <setEntry value="javax.el-api"/>
        <setEntry value="javax.inject"/>
        <setEntry value="javax.servlet.jsp-api"/>
        <setEntry value="junit-jupiter-api"/>
        <setEntry value="junit-jupiter-engine"/>
        <setEntry value="junit-jupiter-migrationsupport"/>
        <setEntry value="junit-jupiter-params"/>
        <setEntry value="junit-platform-commons"/>
        <setEntry value="junit-platform-engine"/>
        <setEntry value="junit-platform-launcher"/>
        <setEntry value="junit-platform-runner"/>
        <setEntry value="junit-platform-suite-api"/>
        <setEntry value="junit-platform-suite-commons"/>
        <setEntry value="junit-platform-suite-engine"/>
        <setEntry value="junit-vintage-engine"/>
        <setEntry value="org.apache.ant"/>
        <setEntry value="org.apache.batik.constants"/>
        <setEntry value="org.apache.batik.css"/>
        <setEntry value="org.apache.batik.i18n"/>
        <setEntry value="org.apache.batik.util"/>
        <setEntry value="org.apache.commons.codec"/>
        <setEntry value="org.apache.commons.commons-io"/>
        <setEntry value="org.apache.commons.compress"/>
        <setEntry value="org.apache.commons.jxpath"/>
        <setEntry value="org.apache.commons.logging"/>
        <setEntry value="org.apache.felix.gogo.command"/>
        <setEntry value="org.apache.felix.gogo.runtime"/>
        <setEntry value="org.apache.felix.gogo.shell"/>
        <setEntry value="org.apache.felix.scr"/>
        <setEntry value="org.apache.httpcomponents.client5.httpclient5"/>
        <setEntry value="org.apache.httpcomponents.core5.httpcore5"/>
        <setEntry value="org.apache.httpcomponents.core5.httpcore5-h2"/>
        <setEntry value="org.apache.jasper.glassfish"/>
        <setEntry value="org.apache.lucene.analysis-common"/>
        <setEntry value="org.apache.lucene.analysis-smartcn"/>
        <setEntry value="org.apache.lucene.core"/>
        <setEntry value="org.apache.xmlgraphics"/>
        <setEntry value="org.apiguardian.api"/>
        <setEntry value="org.eclipse.ant.core"/>
        <setEntry value="org.eclipse.ant.launching"/>
        <setEntry value="org.eclipse.ant.ui"/>
        <setEntry value="org.eclipse.compare"/>
        <setEntry value="org.eclipse.compare.core"/>
        <setEntry value="org.eclipse.core.commands"/>
        <setEntry value="org.eclipse.core.contenttype"/>
        <setEntry value="org.eclipse.core.databinding"/>
        <setEntry value="org.eclipse.core.databinding.beans"/>
        <setEntry value="org.eclipse.core.databinding.observable"/>
        <setEntry value="org.eclipse.core.databinding.property"/>
        <setEntry value="org.eclipse.core.expressions"/>
        <setEntry value="org.eclipse.core.externaltools"/>
        <setEntry value="org.eclipse.core.filebuffers"/>
        <setEntry value="org.eclipse.core.filesystem"/>
        <setEntry value="org.eclipse.core.filesystem.macosx"/>
        <setEntry value="org.eclipse.core.jobs"/>
        <setEntry value="org.eclipse.core.net"/>
        <setEntry value="org.eclipse.core.resources"/>
        <setEntry value="org.eclipse.core.runtime"/>
        <setEntry value="org.eclipse.core.variables"/>
        <setEntry value="org.eclipse.debug.core"/>
        <setEntry value="org.eclipse.debug.ui"/>
        <setEntry value="org.eclipse.debug.ui.launchview"/>
        <setEntry value="org.eclipse.e4.core.commands"/>
        <setEntry value="org.eclipse.e4.core.contexts"/>
        <setEntry value="org.eclipse.e4.core.di"/>
        <setEntry value="org.eclipse.e4.core.di.annotations"/>
        <setEntry value="org.eclipse.e4.core.di.extensions"/>
        <setEntry value="org.eclipse.e4.core.di.extensions.supplier"/>
        <setEntry value="org.eclipse.e4.core.services"/>
        <setEntry value="org.eclipse.e4.emf.xpath"/>
        <setEntry value="org.eclipse.e4.tools.emf.ui"/>
        <setEntry value="org.eclipse.e4.tools.services"/>
        <setEntry value="org.eclipse.e4.ui.bindings"/>
        <setEntry value="org.eclipse.e4.ui.css.core"/>
        <setEntry value="org.eclipse.e4.ui.css.swt"/>
        <setEntry value="org.eclipse.e4.ui.css.swt.theme"/>
        <setEntry value="org.eclipse.e4.ui.di"/>
        <setEntry value="org.eclipse.e4.ui.dialogs"/>
        <setEntry value="org.eclipse.e4.ui.ide"/>
        <setEntry value="org.eclipse.e4.ui.model.workbench"/>
        <setEntry value="org.eclipse.e4.ui.progress"/>
        <setEntry value="org.eclipse.e4.ui.services"/>
        <setEntry value="org.eclipse.e4.ui.widgets"/>
        <setEntry value="org.eclipse.e4.ui.workbench"/>
        <setEntry value="org.eclipse.e4.ui.workbench.addons.swt"/>
        <setEntry value="org.eclipse.e4.ui.workbench.renderers.swt"/>
        <setEntry value="org.eclipse.e4.ui.workbench.renderers.swt.cocoa"/>
        <setEntry value="org.eclipse.e4.ui.workbench.swt"/>
        <setEntry value="org.eclipse.e4.ui.workbench3"/>
        <setEntry value="org.eclipse.ecf"/>
        <setEntry value="org.eclipse.ecf.filetransfer"/>
        <setEntry value="org.eclipse.ecf.identity"/>
        <setEntry value="org.eclipse.ecf.provider.filetransfer"/>
        <setEntry value="org.eclipse.ecf.provider.filetransfer.httpclient5"/>
        <setEntry value="org.eclipse.ecf.provider.filetransfer.ssl"/>
        <setEntry value="org.eclipse.ecf.ssl"/>
        <setEntry value="org.eclipse.emf.common"/>
        <setEntry value="org.eclipse.emf.databinding"/>
        <setEntry value="org.eclipse.emf.databinding.edit"/>
        <setEntry value="org.eclipse.emf.ecore"/>
        <setEntry value="org.eclipse.emf.ecore.change"/>
        <setEntry value="org.eclipse.emf.ecore.xmi"/>
        <setEntry value="org.eclipse.emf.edit"/>
        <setEntry value="org.eclipse.equinox.app"/>
        <setEntry value="org.eclipse.equinox.bidi"/>
        <setEntry value="org.eclipse.equinox.common"/>
        <setEntry value="org.eclipse.equinox.concurrent"/>
        <setEntry value="org.eclipse.equinox.console"/>
        <setEntry value="org.eclipse.equinox.event"/>
        <setEntry value="org.eclipse.equinox.frameworkadmin"/>
        <setEntry value="org.eclipse.equinox.frameworkadmin.equinox"/>
        <setEntry value="org.eclipse.equinox.http.jetty"/>
        <setEntry value="org.eclipse.equinox.http.registry"/>
        <setEntry value="org.eclipse.equinox.http.servlet"/>
        <setEntry value="org.eclipse.equinox.jsp.jasper"/>
        <setEntry value="org.eclipse.equinox.jsp.jasper.registry"/>
        <setEntry value="org.eclipse.equinox.launcher"/>
        <setEntry value="org.eclipse.equinox.launcher.cocoa.macosx.aarch64"/>
        <setEntry value="org.eclipse.equinox.p2.artifact.repository"/>
        <setEntry value="org.eclipse.equinox.p2.console"/>
        <setEntry value="org.eclipse.equinox.p2.core"/>
        <setEntry value="org.eclipse.equinox.p2.director"/>
        <setEntry value="org.eclipse.equinox.p2.director.app"/>
        <setEntry value="org.eclipse.equinox.p2.directorywatcher"/>
        <setEntry value="org.eclipse.equinox.p2.engine"/>
        <setEntry value="org.eclipse.equinox.p2.extensionlocation"/>
        <setEntry value="org.eclipse.equinox.p2.garbagecollector"/>
        <setEntry value="org.eclipse.equinox.p2.jarprocessor"/>
        <setEntry value="org.eclipse.equinox.p2.metadata"/>
        <setEntry value="org.eclipse.equinox.p2.metadata.repository"/>
        <setEntry value="org.eclipse.equinox.p2.operations"/>
        <setEntry value="org.eclipse.equinox.p2.publisher"/>
        <setEntry value="org.eclipse.equinox.p2.publisher.eclipse"/>
        <setEntry value="org.eclipse.equinox.p2.reconciler.dropins"/>
        <setEntry value="org.eclipse.equinox.p2.repository"/>
        <setEntry value="org.eclipse.equinox.p2.repository.tools"/>
        <setEntry value="org.eclipse.equinox.p2.touchpoint.eclipse"/>
        <setEntry value="org.eclipse.equinox.p2.touchpoint.natives"/>
        <setEntry value="org.eclipse.equinox.p2.transport.ecf"/>
        <setEntry value="org.eclipse.equinox.p2.ui"/>
        <setEntry value="org.eclipse.equinox.p2.ui.importexport"/>
        <setEntry value="org.eclipse.equinox.p2.ui.sdk"/>
        <setEntry value="org.eclipse.equinox.p2.ui.sdk.scheduler"/>
        <setEntry value="org.eclipse.equinox.p2.updatechecker"/>
        <setEntry value="org.eclipse.equinox.p2.updatesite"/>
        <setEntry value="org.eclipse.equinox.preferences"/>
        <setEntry value="org.eclipse.equinox.registry"/>
        <setEntry value="org.eclipse.equinox.security"/>
        <setEntry value="org.eclipse.equinox.security.macosx"/>
        <setEntry value="org.eclipse.equinox.security.ui"/>
        <setEntry value="org.eclipse.equinox.simpleconfigurator"/>
        <setEntry value="org.eclipse.equinox.simpleconfigurator.manipulator"/>
        <setEntry value="org.eclipse.help"/>
        <setEntry value="org.eclipse.help.base"/>
        <setEntry value="org.eclipse.help.ui"/>
        <setEntry value="org.eclipse.help.webapp"/>
        <setEntry value="org.eclipse.jdt"/>
        <setEntry value="org.eclipse.jdt.annotation*1.2.100.v20220826-1026"/>
        <setEntry value="org.eclipse.jdt.annotation*2.2.700.v20220826-1026"/>
        <setEntry value="org.eclipse.jdt.apt.core"/>
        <setEntry value="org.eclipse.jdt.apt.pluggable.core"/>
        <setEntry value="org.eclipse.jdt.apt.ui"/>
        <setEntry value="org.eclipse.jdt.core"/>
        <setEntry value="org.eclipse.jdt.core.compiler.batch"/>
        <setEntry value="org.eclipse.jdt.core.formatterapp"/>
        <setEntry value="org.eclipse.jdt.core.manipulation"/>
        <setEntry value="org.eclipse.jdt.debug"/>
        <setEntry value="org.eclipse.jdt.debug.ui"/>
        <setEntry value="org.eclipse.jdt.doc.user"/>
        <setEntry value="org.eclipse.jdt.junit"/>
        <setEntry value="org.eclipse.jdt.junit.core"/>
        <setEntry value="org.eclipse.jdt.junit.runtime"/>
        <setEntry value="org.eclipse.jdt.junit4.runtime"/>
        <setEntry value="org.eclipse.jdt.junit5.runtime"/>
        <setEntry value="org.eclipse.jdt.launching"/>
        <setEntry value="org.eclipse.jdt.launching.macosx"/>
        <setEntry value="org.eclipse.jdt.launching.ui.macosx"/>
        <setEntry value="org.eclipse.jdt.ui"/>
        <setEntry value="org.eclipse.jetty.http"/>
        <setEntry value="org.eclipse.jetty.io"/>
        <setEntry value="org.eclipse.jetty.security"/>
        <setEntry value="org.eclipse.jetty.server"/>
        <setEntry value="org.eclipse.jetty.servlet"/>
        <setEntry value="org.eclipse.jetty.util"/>
        <setEntry value="org.eclipse.jetty.util.ajax"/>
        <setEntry value="org.eclipse.jface"/>
        <setEntry value="org.eclipse.jface.databinding"/>
        <setEntry value="org.eclipse.jface.notifications"/>
        <setEntry value="org.eclipse.jface.text"/>
        <setEntry value="org.eclipse.jsch.core"/>
        <setEntry value="org.eclipse.jsch.ui"/>
        <setEntry value="org.eclipse.lsp4e"/>
        <setEntry value="org.eclipse.lsp4e.debug"/>
        <setEntry value="org.eclipse.lsp4e.jdt"/>
        <setEntry value="org.eclipse.lsp4j"/>
        <setEntry value="org.eclipse.lsp4j.debug"/>
        <setEntry value="org.eclipse.lsp4j.jsonrpc"/>
        <setEntry value="org.eclipse.lsp4j.jsonrpc.debug"/>
        <setEntry value="org.eclipse.ltk.core.refactoring"/>
        <setEntry value="org.eclipse.ltk.ui.refactoring"/>
        <setEntry value="org.eclipse.mylyn.wikitext"/>
        <setEntry value="org.eclipse.mylyn.wikitext.markdown"/>
        <setEntry value="org.eclipse.osgi"/>
        <setEntry value="org.eclipse.osgi.compatibility.state"/>
        <setEntry value="org.eclipse.osgi.services"/>
        <setEntry value="org.eclipse.osgi.util"/>
        <setEntry value="org.eclipse.pde"/>
        <setEntry value="org.eclipse.pde.api.tools"/>
        <setEntry value="org.eclipse.pde.api.tools.annotations"/>
        <setEntry value="org.eclipse.pde.api.tools.ui"/>
        <setEntry value="org.eclipse.pde.build"/>
        <setEntry value="org.eclipse.pde.core"/>
        <setEntry value="org.eclipse.pde.doc.user"/>
        <setEntry value="org.eclipse.pde.ds.annotations"/>
        <setEntry value="org.eclipse.pde.ds.core"/>
        <setEntry value="org.eclipse.pde.ds.ui"/>
        <setEntry value="org.eclipse.pde.genericeditor.extension"/>
        <setEntry value="org.eclipse.pde.junit.runtime"/>
        <setEntry value="org.eclipse.pde.launching"/>
        <setEntry value="org.eclipse.pde.runtime"/>
        <setEntry value="org.eclipse.pde.spy.bundle"/>
        <setEntry value="org.eclipse.pde.spy.context"/>
        <setEntry value="org.eclipse.pde.spy.core"/>
        <setEntry value="org.eclipse.pde.spy.css"/>
        <setEntry value="org.eclipse.pde.spy.event"/>
        <setEntry value="org.eclipse.pde.spy.model"/>
        <setEntry value="org.eclipse.pde.spy.preferences"/>
        <setEntry value="org.eclipse.pde.ua.core"/>
        <setEntry value="org.eclipse.pde.ua.ui"/>
        <setEntry value="org.eclipse.pde.ui"/>
        <setEntry value="org.eclipse.pde.ui.templates"/>
        <setEntry value="org.eclipse.platform"/>
        <setEntry value="org.eclipse.platform.doc.user"/>
        <setEntry value="org.eclipse.rcp"/>
        <setEntry value="org.eclipse.search"/>
        <setEntry value="org.eclipse.swt"/>
        <setEntry value="org.eclipse.swt.cocoa.macosx.aarch64"/>
        <setEntry value="org.eclipse.team.core"/>
        <setEntry value="org.eclipse.team.genericeditor.diff.extension"/>
        <setEntry value="org.eclipse.team.ui"/>
        <setEntry value="org.eclipse.text"/>
        <setEntry value="org.eclipse.text.quicksearch"/>
        <setEntry value="org.eclipse.tm4e.core"/>
        <setEntry value="org.eclipse.tm4e.languageconfiguration"/>
        <setEntry value="org.eclipse.tm4e.markdown"/>
        <setEntry value="org.eclipse.tm4e.registry"/>
        <setEntry value="org.eclipse.tm4e.ui"/>
        <setEntry value="org.eclipse.tools.layout.spy"/>
        <setEntry value="org.eclipse.ui"/>
        <setEntry value="org.eclipse.ui.browser"/>
        <setEntry value="org.eclipse.ui.cheatsheets"/>
        <setEntry value="org.eclipse.ui.cocoa"/>
        <setEntry value="org.eclipse.ui.console"/>
        <setEntry value="org.eclipse.ui.editors"/>
        <setEntry value="org.eclipse.ui.externaltools"/>
        <setEntry value="org.eclipse.ui.forms"/>
        <setEntry value="org.eclipse.ui.genericeditor"/>
        <setEntry value="org.eclipse.ui.ide"/>
        <setEntry value="org.eclipse.ui.ide.application"/>
        <setEntry value="org.eclipse.ui.intro"/>
        <setEntry value="org.eclipse.ui.intro.quicklinks"/>
        <setEntry value="org.eclipse.ui.intro.universal"/>
        <setEntry value="org.eclipse.ui.monitoring"/>
        <setEntry value="org.eclipse.ui.navigator"/>
        <setEntry value="org.eclipse.ui.navigator.resources"/>
        <setEntry value="org.eclipse.ui.net"/>
        <setEntry value="org.eclipse.ui.themes"/>
        <setEntry value="org.eclipse.ui.trace"/>
        <setEntry value="org.eclipse.ui.views"/>
        <setEntry value="org.eclipse.ui.views.log"/>
        <setEntry value="org.eclipse.ui.views.properties.tabbed"/>
        <setEntry value="org.eclipse.ui.workbench"/>
        <setEntry value="org.eclipse.ui.workbench.texteditor"/>
        <setEntry value="org.eclipse.update.configurator"/>
        <setEntry value="org.eclipse.urischeme"/>
        <setEntry value="org.eclipse.wildwebdeveloper"/>
        <setEntry value="org.eclipse.wildwebdeveloper.embedder.node"/>
        <setEntry value="org.eclipse.wildwebdeveloper.embedder.node.macos.aarch64"/>
        <setEntry value="org.eclipse.wildwebdeveloper.xml"/>
        <setEntry value="org.eclipse.xtext.xbase.lib"/>
        <setEntry value="org.hamcrest.core"/>
        <setEntry value="org.jcodings"/>
        <setEntry value="org.joni"/>
        <setEntry value="org.jsoup"/>
        <setEntry value="org.junit"/>
        <setEntry value="org.objectweb.asm"/>
        <setEntry value="org.objectweb.asm.tree"/>
        <setEntry value="org.opentest4j"/>
        <setEntry value="org.osgi.annotation.bundle"/>
        <setEntry value="org.osgi.annotation.versioning"/>
        <setEntry value="org.osgi.service.cm"/>
        <setEntry value="org.osgi.service.component"/>
        <setEntry value="org.osgi.service.component.annotations"/>
        <setEntry value="org.osgi.service.device"/>
        <setEntry value="org.osgi.service.event"/>
        <setEntry value="org.osgi.service.metatype"/>
        <setEntry value="org.osgi.service.metatype.annotations"/>
        <setEntry value="org.osgi.service.prefs"/>
        <setEntry value="org.osgi.service.provisioning"/>
        <setEntry value="org.osgi.service.upnp"/>
        <setEntry value="org.osgi.service.useradmin"/>
        <setEntry value="org.osgi.service.wireadmin"/>
        <setEntry value="org.osgi.util.function"/>
        <setEntry value="org.osgi.util.measurement"/>
        <setEntry value="org.osgi.util.position"/>
        <setEntry value="org.osgi.util.promise"/>
        <setEntry value="org.osgi.util.xml"/>
        <setEntry value="org.sat4j.core"/>
        <setEntry value="org.sat4j.pb"/>
        <setEntry value="org.slf4j.api"/>
        <setEntry value="org.tukaani.xz"/>
        <setEntry value="org.w3c.css.sac"/>
        <setEntry value="org.w3c.dom.events"/>
        <setEntry value="org.w3c.dom.smil"/>
        <setEntry value="org.w3c.dom.svg"/>
        <setEntry value="org.yaml.snakeyaml"/>
    </setAttribute>
    <setAttribute key="selected_workspace_bundles">
        <setEntry value="org.vgcpge.copilot.ls"/>
        <setEntry value="org.vgcpge.copilot.ls.test"/>
        <setEntry value="org.vgcpge.eclipse.copilot.ui"/>
    </setAttribute>
    <booleanAttribute key="show_selected_only" value="true"/>
    <booleanAttribute key="tracing" value="false"/>
    <booleanAttribute key="useCustomFeatures" value="false"/>
    <booleanAttribute key="useDefaultConfig" value="true"/>
    <booleanAttribute key="useDefaultConfigArea" value="true"/>
    <booleanAttribute key="useProduct" value="false"/>
</launchConfiguration>
