<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target includeMode="feature" name="2023-03">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/releases/2023-03"/>
			<unit id="org.eclipse.pde.source.feature.group" version="3.14.1500.v20230302-0300"/>
			<unit id="org.eclipse.wildwebdeveloper.feature.source.feature.group" version="1.0.2.202302250247"/>
			<unit id="org.eclipse.platform.feature.group" version="4.27.0.v20230302-0300"/>
			<unit id="org.eclipse.tm4e.feature.feature.group" version="0.5.2.202211261320"/>
			<unit id="org.eclipse.lsp4e.jdt" version="0.10.2.202205031750"/>
			<unit id="org.eclipse.xtext.xbase.lib" version="2.30.0.v20230227-1111"/>
		</location>
		<location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven">
			<dependencies>
				<dependency>
					<groupId>net.bytebuddy</groupId>
					<artifactId>byte-buddy-agent</artifactId>
					<version>1.14.16</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>net.bytebuddy</groupId>
					<artifactId>byte-buddy</artifactId>
					<version>1.14.16</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.mockito</groupId>
					<artifactId>mockito-core</artifactId>
					<version>5.12.0</version>
					<type>jar</type>
				</dependency>
			</dependencies>
			<repositories>
				<repository>
					<id>central</id>
					<url>https://repo1.maven.org/maven2/</url>
				</repository>
			</repositories>
		</location>
	</locations>
</target>