<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="local_2023_03">
	<locations>
		<locations>
        <location type="InstallableUnit">
            <unit id="org.mockito.mockito-core" version="4.0.0"/>
            <repository location="https://repo.eclipse.org/content/repositories/p2-snapshot/"/>
        </location>
        <!-- Add other necessary locations here -->
    </locations>
		<location path="/Users/marianvid/MyData/git/TargetDefs/copilot" type="Directory"/>
	</locations>
</target>